<h1>Edit Meeting Details</h1>
<%= form_with model: @meeting, url: meeting_path(@meeting), method: "patch" do |form| %>
<label>Subject :</label>
<%= form.text_field :subject, placeholder: "Meeting subject ...", value: @meeting.subject %><br><br>
<label>Description :</label>
<%= form.text_field :description, placeholder: "Meeting description ...", value: @meeting.description %><br><br>
<label>Start Time :</label>
<%= form.datetime_select :start_time, { ampm: true, order: [:day, :month, :year] }, value: @meeting.start_time %><br><br>
<label>End Time :</label>
<%= form.datetime_select :complete, { ampm: true, order: [:day, :month, :year] }, value: @meeting.complete %><br><br>
<label>Meeting With :</label>
<%= form.text_field :metting_with, placeholder: "Meeting with ...", value: @meeting.metting_with %><br><br>
<%= form.submit "Update", class: "btn btn-primary" %>
<%= link_to "Back", root_path, class: "btn btn-warning" %>
<% end %>
