<p>Subject : <%= meeting.subject %></p>
<p>description : <%= meeting.description %></p>
<p>Start Time : <%= meeting.start_time %></p>
<p>End Time : <%= meeting.complete %></p>
<p>Guest Name : <%= meeting.metting_with %></p>
